.header {
    background-color: #1E1E1E;
    width: 200px;
    max-width: 230px;
    height: 100vh;
    padding: 2em 1em;
}

.mobile-header {
    display: none;
}

.logo {
    width: 60px;
}

li {
    list-style: none;
    margin: 1em 0;
    padding: .5em;
    border-radius: 5px;
    transition: .5s;
}

li:hover {
    background-color: #000000;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

::-webkit-scrollbar{
 display: none;
}
@media screen and (max-width: 911px) {
    .header {
        display: none;
    }

    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #1E1E1E;
        padding: 1em;
        position: relative;
        height: 100px;
    }
    .mobile-logo-container{
            z-index: 2;

    }
    .menu{
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1;
    }
    .nav-items {
        background-color: #1E1E1E;
        position: fixed;
        top: -150%;
        right: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        width: 100%;
        padding: 5em 0 0 0 ;
        transition: .5s;
    }
    .show{
        top: 0px;
    }
}
