.container {
    height: 100vh;
    overflow: auto;
}
.add-task {
    font-size: 2.5rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5em;
    flex-wrap: wrap;
    width: 100%;
}
.flex-child {
    flex: 1;
}

label {
    font-size: 1.2rem;
}

.enter-task {
    width: 100%;
    outline: none;
    border: 2px solid #ffffff;
    background-color: transparent;
    padding: .5em;
    font-size: 1.2rem;
    margin: 1em 0;
}

.add-btn {
    width: 100%;
    outline: none;
    padding: .5em;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 120, 195);
    font-size: 1.2rem;
    cursor: pointer;
    transition: .4s;
}
.add-btn:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}
table {
    border-collapse: collapse;
    width: 100%;
    height: 100px;
background-color: #1E1E1E;
}
.set-table-height{
    max-height: 350px !important;
    overflow: hidden;
}
th{
background-color: #000000;
}
th,
td {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #DDD;
}
.hover-effect-tr{
    transition: .4s;
}

tbody>.hover-effect-tr:hover {
background-color: #000000;
}


.see-all
{
    color: rgb(0, 170, 255);
    text-decoration: underline;
    text-align: center;
    float: right;
}


@media screen and (max-width: 1036px) {
    .flex-container{
        flex-direction: column;
    }
}
